.tolistBtn {
  background-color: #515254;
  width: 10%;
  margin-left: 45%;
  border-radius: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
}

.tolist {
  text-decoration: none;
  font-family: "Dela Gothic One";
  color: #ffffff;
  text-align: center;
}

.imgsContainer {
  /* display: flex; */
  text-align: center;
  transform: rotate(90deg);
}

.newImgContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.body {
  text-align: center;
}
